@font-face {
  font-family: Raleway;
  src: url("./fonts/Raleway/Raleway-VariableFont_wght.ttf");
}

* {
  box-sizing: border-box;
  outline: 0;
  margin: 0;
  padding: 0;
  font-family: Raleway;
  text-align: center;
  color: #31A8DD;;
}


body {
  background-color: black;
}

.banner-content {
  height: 605px;
  padding-top: 56px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(49, 168, 221, 0.2), rgba(0, 0, 0, 0.6)), url('./images/banner.png');
}

.logo {
  width: 268px;
  height: 268px;
  border-radius: 268px;
  background: rgba(0, 0, 0, 0.2);
  margin: auto;
}

.logo img {
  padding: 27px 10px;
}

h1 {
  background: linear-gradient(180deg, #33A8DB 0%, #1472B7 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 900;
  font-size: 40px;
  text-transform: uppercase;
  padding: 16px;
}

.banner-content p {
  width: 510px;
  font-size: 20px;
  font-weight: 400;
  text-align: justify;
  color: #FFF;
  margin: auto;
}

button {
  background-color: transparent;
  width: 326px;
  height: 57px;
  margin-top: 24px;
  border: 2px solid;
  border-image: linear-gradient(#3BA1CD, #1572B7) 1;
  padding: 19px auto;
  font-weight: 900;
  font-size: 16px;
  letter-spacing: 3.36px;
  text-transform: uppercase;
}

#course-content {
  width: auto;
  padding-bottom: 75px;
  border-top: 1px solid rgba(51, 168, 219, 1);
  border-bottom: 1px solid rgba(51, 168, 219, 1);
  
}

h2 {
  font-size: 32px;
  font-weight: 700;
  letter-spacing: 6.08px;
  text-transform: uppercase;
  color: #33A8DB;
}

#course-content h2 {
  margin-top: 118px;
}

#course-content p {
  width: 792px;
  margin: 24px auto;
  color: #FFF;
}

.module {
  width: 535px;
  margin: 0 auto 24px auto;
  padding: 16px;
  font-size: 16px;
  font-weight: 400;
  color: #FFF;
  border: 1px solid #33A8DB;
  border-radius: 57px;
  background: #252525;
  box-shadow: -2px 6px 4px 0px rgba(0, 0, 0, 0.40) inset;
}

#transform-world {
  background-image: url('./images/woman-code.png');
  height: 400px;
  background-size: cover;
  background-attachment: fixed;
}

#transform-world p {
  padding-top: 129.5px;
  margin-left: 180px;
  width: 244px;
  height: 141px;
  text-align: left;
  text-transform: lowercase;
  font-family: Raleway;
  font-size: 40px;
  font-weight: 900;
  text-shadow: 3px 2px 0px #33A8DB;
  color: #FFF;
}

#professional-challenges {
  border-top: 1px solid rgba(51, 168, 219, 1);
  border-bottom: 1px solid rgba(51, 168, 219, 1);
}

#professional-challenges h2 {
  width: 755px;
  height: 76px;
  margin: 65px auto 32px auto;
  text-align: center;
}

#professional-challenges p {
  width: 792px;
  height: 76px;
  margin: 40px auto 91px auto;
  color: #FFF;
}

footer {
  padding-top: 59px;
  padding-bottom: 38px;
  background-image: linear-gradient(rgba(50, 168, 219, 0), rgba(50, 168, 219, 0.2));
}

footer a {
  text-decoration: none;
  font-family: Raleway;
  font-size: 16px;
  font-weight: 700;
  color: #33A8DB;
}

footer p {
  color: #FFF;
}