* {
  box-sizing: border-box;
  outline: 0;
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: Raleway;
  src: url("./fonts/Raleway/Raleway-VariableFont_wght.ttf");
}

.banner-content {
  width: 1440px;
  height: 605px;
  background-color: rgb(200, 194, 194);
  text-align: center;
  padding-top: 56px;
}

.logo {
  width: 268px;
  height: 268px;
  border-radius: 268px;
  background: rgba(0, 0, 0, 0.2);
  margin: auto;
}

.logo img {
  padding: 27px 10px;
}

h1 {
  background: linear-gradient(180deg, #33A8DB 0%, #1472B7 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: Raleway;
  font-weight: 900;
  font-size: 40px;
  text-transform: uppercase;
  padding: 16px;
}

.banner-content p {
  width: 510px;
  font-family: Raleway;
  font-size: 20px;
  font-weight: 400;
  text-align: justify;
  color: #FFF;
  margin: auto;
}

button {
  background-color: transparent;
  width: 326px;
  height: 57px;
  margin-top: 24px;
  border: 2px solid;
  border-image: linear-gradient(#3BA1CD, #1572B7) 1;
  padding: 19px auto;
  color: #31A8DD;
  font-family: Raleway;
  font-weight: 900;
  font-size: 16px;
  letter-spacing: 3.36px;
  text-transform: uppercase;
}

